In [22]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [23]:
# Load the CSV file
df = pd.read_csv('AAPL.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-01-25,4.963929,4.967500,4.628929,4.643214,3.957958,1554739200
1,2008-01-28,4.577143,4.757143,4.516071,4.643214,3.957958,1474844000
2,2008-01-29,4.683929,4.742500,4.608929,4.697857,4.004538,1099982800
3,2008-01-30,4.691786,4.837500,4.642857,4.720714,4.024021,1243051600
4,2008-01-31,4.623214,4.880357,4.621429,4.834286,4.120832,1345674400
...,...,...,...,...,...,...,...
3771,2023-01-18,136.820007,138.610001,135.029999,135.210007,135.210007,69672800
3772,2023-01-19,134.080002,136.250000,133.770004,135.270004,135.270004,58280400
3773,2023-01-20,135.279999,138.020004,134.220001,137.869995,137.869995,79972200
3774,2023-01-23,138.119995,143.320007,137.899994,141.110001,141.110001,81760300
3775,2023-01-24,140.309998,143.160004,140.300003,142.529999,142.529999,66081800

In [24]:
# Select the feature and target columns
X = df[['Open', 'High', 'Low', 'Volume']]
y = df['Adj Close']

In [25]:
# Scale the data
from sklearn.preprocessing import StandardScaler

# create scaler
scaler = StandardScaler()
# fit and transform in one step
X = scaler.fit_transform(X)
y = scaler.fit_transform(y.values.reshape(-1, 1))

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
y_train = y_train.reshape(X_train.shape[0])
y_train.shape

(3020,)

In [28]:
X_train.shape

(3020, 4)

In [29]:
# Train the SVM model
model = SVR(kernel='rbf')
model.fit(X_train, y_train)

SVR()

In [30]:
def mae(y_true, y_pred):
    mae = np.mean(np.abs((y_true - y_pred)))

    return mae

def mse(y_true, y_pred):
    mse = np.mean((y_true - y_pred) ** 2)

    return mse

def rmse(y_true, y_pred):
    rmse = np.sqrt(np.mean((y_true-y_pred)**2))

    return rmse

def mpe(y_true, y_pred):
    mpe = np.mean((y_true-y_pred) / y_true)

    return mpe
def mape(y_true, y_pred):
    mape = np.mean(np.abs((y_true-y_pred)) / y_true)

    return mape

In [31]:
predictions = model.predict(X_test)

print(f'RMSE: {rmse(y_test, predictions)}')
print(f'MPE: {mpe(y_test, predictions)}')
print(f'MAPE: {mape(y_test, predictions)}')
print(f'MSE: {mse(y_test, predictions)}')
print(f'MAE: {mae(y_test, predictions)}')
from sklearn.metrics import r2_score
print(f'R2 Score: {r2_score(y_test, predictions)}')

RMSE: 1.4626334621204014
MPE: 1.023247746517641
MAPE: -0.29291262434478255
MSE: 2.1392966445143116
MAE: 1.0311447373132103
R2 Score: 0.9983761493653425